PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/chatgram?schema=public"
JWT_SECRET="change_me_to_a_long_random_string"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="*"
CLOUDINARY_CLOUD_NAME="ezeotxwz"
CLOUDINARY_API_KEY="915383376354685"
CLOUDINARY_API_SECRET="dr9YQFV6xobvI6jQivMZnfexW2U"
